.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 100px 0;
}

.headerContainer .listMode {
  margin: 20px 0 0px 0;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
  border: none;
}

.headerSearch {
  height: 50px;
  background-color: white;
  border: 5px solid #febb02 ;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  bottom: -20px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: rgb(93, 93, 93);
  font-size: 20px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}

.headerSearchItem.iconBed {
  padding-left:10px;
  padding-right:80px;
  border-right: 5px solid #febb02;
  
}


.headerSearch .iconCalendar {
  padding-left: 10px;
  padding-right: 20px;
  border-right: 5px solid #febb02;
  width: 280px;
}

.headerSearch .iconUser {
  padding-left: 10px;
  padding-right: 20px;
  border-right: 5px solid #febb02;
  width: 280px;
}

.headerSearch .btn {
  width: 108px;
}
.headerSearchInput {
  border:none ;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 46px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  max-width: 230px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size:12px;
  color:black;
  border: 2px solid #868686;
  border-radius: 4px;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 16px;
  color:#65a5ff
}

.optionCounterButton:hover {
  background-color: #e2efff;
}

.optionCounter span {
  font-size: 15px;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.childrenAge {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 12px;
  gap:5px;
}

.childAge {
  display: flex;
  align-items: center; /* Căn giữa dọc cho nội dung */
  justify-content: space-between; /* Căn đều khoảng cách giữa các phần tử */
}

.selectAge {
  padding: 5px; /* Thêm khoảng cách bên trong cho dropdown */
  font-size: 12px; /* Kích thước chữ cho dropdown */
  border: 1px solid #ccc; /* Đường viền cho dropdown */
  border-radius: 5px; /* Bo tròn các góc */
  width: 100%; /* Chiều rộng của dropdown chiếm 100% */
  max-width: 200px; /* Chiều rộng tối đa cho dropdown */
  transition: border-color 0.3s; /* Hiệu ứng chuyển đổi cho đường viền */
}

.selectAge:focus {
  border-color: #007bff; /* Đổi màu đường viền khi focus */
  outline: none; /* Bỏ outline mặc định */
}

/* Đổi màu nền cho option mặc định */
.selectAge option[value="-1"] {
  color: #999; /* Màu chữ cho option mặc định */
}