.propertyDetail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.propertyDetail-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 90%;
    margin: 0 auto;
}



.propertyDetail-header {
    width: 90%;
    max-width: 800px;
}

.propertyDetail-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;

  }
  
  .propertyDetail-image img,
  .propertyDetail-image .placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: gray;
  }
  
  .propertyDetail-image .large {
    grid-column: span 2;
    grid-row: span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #f0f0f0; /* Light gray for placeholders */
  }

.propertyDetail-description {
    width: 100%;
    max-width: 100%;
}
