.propertyReview-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overview-review {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review-rating-container {
  margin-bottom: 20px;
  width: 100%;
}

.review-comment-container {
  margin-bottom: 20px;
  width: 100%;
}

.rating-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
}

.review-comment {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
}

.all-reviews {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  z-index: 1000;
  background-color: white;
  border: 1px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
