.reviewComment-container {
  height: 200px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 400px;
  flex-shrink: 0;
}

.reviewer-profile {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 10px;
}

.reviewComment-container p {
  margin: 0;
}

.reviewer-comment {
  flex: 5;
  margin: 10px;
}

.reviewer-comment p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  height: auto;
}

.reviewer-comment button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline;
  color: green;
}

.reviewer-comment button:focus {
  outline: none;
}

.reviewer-comment button:hover {
  color: rgb(177, 89, 189);
}

.reviewer-image {
  flex: 2;
  max-width: 50px;
  min-width: 50px;
}

.reviewer-image .img {
  aspect-ratio: 1;
}

.reviewer-image .img > img {
  width: 100%; /* Makes the image responsive */
  height: 100%; /* Makes the image responsive */
  object-fit: cover;
}

.reviewer-name-nationality {
  flex: 8;
  margin-left: 10px;
}

.reviewer-name {
  width: 100%;
}

.reviewer-nationality {
  width: 100%;
}
