.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* This applies the blur effect */
    z-index: 1000; /* Ensure it sits above other content */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001; /* Higher z-index to be above the overlay */
    display: flex;
    flex-direction: row;
}

.modal-content .close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-content .info {
    display: flex;
    max-width: 500px;
    flex-direction: column;
}

.modal-content .image {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 500px;
    margin-right: 20px;
}